@model IEnumerable<CuriosityCup.Models.Subject>

@{
    ViewData["Title"] = "Subjects";
}
    <div class="text-center mt-4">
        <h1 class="display-4">Subjects to Explore!</h1>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin"))
            {
                <p><a class="text-danger" asp-action="Create">Create New</a></p>
            }
        }

        <div class="text-center pt-lg-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm lg-square-btn-container">
                        <a class="subject-link" asp-controller="Lessons" asp-action="LessonsBySubject" asp-route-id="@item.Id">
                            <div class="btn btn-subject btn-primary">@Html.DisplayFor(modelItem => item.SubjectName)</div>
                        </a>
                    </div>
                }
            </div>
        </div>

    </div>