body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(-45deg, rgba(162, 242, 231, 1), rgba(255, 201, 201, 1));
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: #FFFCFC;
    text-decoration: none;
}
a:hover {
    color: #A09B9B;
    text-decoration: none;
}
.nav-container {
    width: 100%;
}
.nav-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto;
}
#left-grid, #center-grid, #right-grid {
    display: flex;
    flex-direction: row;
}

#center-grid {
}

#right-grid {
   
}

#left-grid {
}

#main-menu-dropdown > .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.93) !important;
    border: 1px solid rgba(208, 208, 208, 0.41);
}

#main-menu-dropdown > .dropdown-toggle, .dropdown-toggle::after {
    vertical-align: bottom;
}

#main-menu-dropdown-items > .dropdown-item:hover {
    background-color: rgba(162, 242, 231, 0.50) !important;
}

.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.nav-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.nav-container a {
    border-radius: 9px;
    padding: 5px;
}

.nav-icon {
    height: 65px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;

}

.search-bar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.search-bar-input {
    display: none;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
}

#search-bar-icon {
    float: right !important;
}

.search-bar-container input#search {
    background: #2b303b;
}

#search-bar-icon:hover {
    background-color: yellow;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.search-bar-container:hover input#search {
    width: 300px;
}


span {

}

.dropdown-main {

}

.dropdown-content {
   
}

#home-icon {

    margin: auto;
}

#search-icon {

}

#explore-icon {

}

.home-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;    
    text-transform: uppercase;
    font-size: 90px;
}

.home-container div {
    display: flex;
    align-content: center;
    justify-content: center;
}

.home-main-link {
    width: 100%;
    height: 100vh;
    line-height: 100vh;
}


.home-left-btn {
    overflow: hidden;
}

.home-right-btn {
    overflow: hidden;
}

.home-main-link {
    margin: auto;
}

@media only screen and (max-width: 1022px) {
    .home-container {
        grid-template-columns: 100%;
        grid-template-rows: 40vh 40vh;
        font-size: 55px;
    }
    .home-main-link {
        width: 100%;
        height: 40vh;
        line-height: 40vh;
    }
}

.active-container {

}

.main-container {
    margin: auto;
    text-align: center;
    width: 450px;
    border-radius: 5px;
    border: 1px solid #A09B9B;
    box-shadow: 5px 5px 2px #A09B9B;
}

.login-input {
    border-radius: 5px;
    border: none;
    background-color: none;
    padding: 5px;
    width: 300px;
}
.login-input:hover:focus {
    border: none;
}
.lg-square-btn-container {
    height: 250px;
}
.btn-subject {
    width: 250px;
    line-height: 250px;
}
.subject-link {
    height: 250px;

    text-transform: uppercase;
}
.subject-index-container {
    padding: 5%;
}