@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <a class="home-main-link" href="#"><div class="home-left-btn">students</div></a>
    <a class="home-main-link" href="#"><div class="home-right-btn">teachers</div></a>
</div>
