@{
    ViewData["Title"] = "Home Page";
}
<div class="home-container d-flex justify-content-center mt-lg-5">
    <div style="margin: auto;" class="flex-column">
        <h1 class="display-1 d-flex flex-column">Take a sip of knowledge!</h1><br />
        <img class="img mt-0" src="~/CuriosityCup.png" style="width: 40%; height: auto; margin:auto;" />
    </div>    
</div>
