@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <a class="home-main-link" asp-action="Student" asp-controller="Home"><div class="home-left-btn">students</div></a>
    <a class="home-main-link" asp-action="Teacher" asp-controller="Home"><div class="home-right-btn">teachers</div></a>
</div>
