@model CuriosityCup.Models.Lesson

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center mt-5">
    <h1 class="display-4">Edit</h1>

    <h4>Lesson</h4>
    <hr />

    <div class="d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <select asp-for="TeacherID" class="form-control" asp-items="ViewBag.TeacherID" hidden></select>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId" hidden></select>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Video" class="control-label"></label>
                    <input asp-for="Video" class="form-control" />
                    <span asp-validation-for="Video" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SectionDescription" class="control-label"></label>
                    <input asp-for="SectionDescription" class="form-control" />
                    <span asp-validation-for="SectionDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

