@model IEnumerable<CuriosityCup.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center mt-4">
    <h1 class="display-4">All Lessons</h1>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
        {
            <p>
                <a class="text-danger" asp-action="Create">Create New</a>
            </p>
        }
    }

    <div class="text-center">
        @foreach (var item in Model)
        {
            <div class="m-3">
                <a class="text-uppercase text-primary font-weight-bold" style="height: 40px; line-height: 40px;" asp-action="Details" asp-route-id="@item.Id">
                    <div class="" style="margin: auto; height: 45px; width: 50%; background-color: rgba(128, 128, 128, 0.31); ">
                        <div class="float-left">@Html.DisplayFor(modelItem => item.Subject.SubjectName)</div>
                        <div class="float-right">@Html.DisplayFor(modelItem => item.Title)</div>                        
                    </div>
                </a>
            </div>
        }
    </div>

    <a asp-controller="Subjects" asp-action="Index">Back to Subjects</a>
</div>
